version: "3.9"

services:
  keycloak:
    image: quay.io/keycloak/keycloak:26.4.5
    container_name: keycloak-dev
    ports:
      - "9090:8080"
    environment:
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
    command:
      - start-dev
    volumes:
      - keycloak_data:/opt/keycloak/data
    networks:
      - backend

  keycloak_jwt:
    container_name: keycloak_jwt
    build:
      - context: ./keycloak
        dockerfile: Dockerfile
    depends_on:
      - keycloak
    ports:
      - "8081:8081"
    environment:
      - ./keycloak/.env
    networks:
      - backend

networks:
  backend:

volumes:
  keycloak_data:
