services:
  keycloak:
    image: quay.io/keycloak/keycloak:26.4.5
    container_name: keycloak-dev
    ports:
      - "9090:8080"
    environment:
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
    command:
      - start-dev
